.hero{
    height: calc(100vh - 90px);
    overflow: hidden;
    background: linear-gradient(180deg, #0c0c1d, #111132);
    position: relative;


    .wrapper{
        max-width: 1366px;
        height: 100%;
        margin: auto;
    
    .textContainer{
        height: 100%;
        width: 50%;
        gap: 40px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 10%;

    h2{
        font-size: 30px;
        letter-spacing: 10px;
        color: rebeccapurple;
    }
    h1{
        font-size: 78px;
    }
    .buttons{
        button{
            padding: 17px;
            border: 1px solid white;
            border-radius: 10px;
            background-color: transparent;
            color: white;
            margin-right: 17px;
            cursor: pointer;
            font-weight: 300;
        }
    }
    img{
            width: 50px;
      }
     }
    }
    .imageContainer{
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;

        img{
            width: 700px ;
        }
    }
    .slidingTextContainer{
        position: absolute;
        font-size: 40vh;
        bottom: 1px;
        white-space: nowrap;
        color: #ffffff09;
        // width: 50%;
        font-weight: bold;
    }
}